.mainBlock {
    border: 3px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    width: 300px;
    height: 220px;
    display: block;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    margin: auto;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

input {
    border-radius: 5px;
    height: 18px;
    width: 250px;
}

.login {
    cursor: pointer;
    border: 0;
    background-color: black;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    font-size: 18px;
}


.login:hover {
    text-decoration: underline;
}